streamlit>=1.30.0
sentence-transformers>=2.0.0
faiss-cpu>=1.7.4
scikit-learn>=1.3.0
datasets>=2.14.0
pandas>=2.0.0
numpy>=1.24.0
torch>=2.0.0
torchvision
transformers>=4.40.0
groq
python-dotenv
gTTS>=2.3.0
SpeechRecognition>=3.10.0
audio-recorder-streamlit>=0.0.8
pydub>=0.25.0
monai>=1.3.0
torchxrayvision>=1.0.0
huggingface-hub
Pillow
opencv-python-headless

requests==2.31.0
